.board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.row {
	display: flex;
	justify-content: row;
}

.cell {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	margin: 1px;
	padding: 0;
}

.board__btns {
	display: flex;
	flex-direction: row;
}

.board__btns button {
	margin: 10px 15px;
	padding: 5px 15px;
	border: 1px solid #222;
	border-radius: 5px;
	background-color: #fff;
	color: #222;
}
